img{
	width: 50%;
	height: 50%;
	margin-left: 25%;
}
div {
	margin-left: 45%;

}
#bttn{
    background-color: yellowgreen; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

